body {
    color: black;
    background-color: #2d3436;
}

#titulo-superior {
    color: #fff;
}

#logo {
    color: #fff;
    text-align: right;
}

footer {
    width: 100%;
    background: #444;
    color: #fff;

}

#logo-rodape{
    text-align: right;
}